/* =header------------------*/
header {
  margin-top: 20px;
}

header h1 {
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  width: 320px;
  height: 120px;
  float: left;
}
header ul {
  float: right;
}
header li {
  display: inline;
}

/* =Navigation------------------*/
nav a {
  font-family: Raleway,​sans-serif;
  padding-top: 30px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* =misc------------------*/
h1 {
  margin: 10px 0;
  font-size: 39px;
  font-weight: 300;
  line-height: 1.1em;
}

h2 {
  display: flex;
  color: #999999;
}

a:hover,a:active {
  color: orange;

}


/* =banners------------------*/
.banner_wrap {
  background: url(../img/banner-business.jpg) no-repeat;
  height: 283px;
}


.banner_wrap a{
  text-decoration: none;
  font-size: 25px;
  width: 700px;
  display: flex;
  color: white;
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 5%;
  background: grey;
  opacity: .9;
}

/* =body------------------*/
body {
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 17px;
}

/* =services------------------*/
.service1,.service2,.service3,.prf1,.prf2,.prf3,.prf4,.prf5,.prf6 {
  width: 300px;
  height: 300px;
}

.service1 {
  background: url("../img/img1.jpg") no-repeat;
}
.service2 {
  background: url("../img/img2.jpg") no-repeat;
}
.service3 {
  background: url("../img/img3.jpg") no-repeat;
}

.service1 a,.service2 a,.service3 a,.prf1 a,.prf2 a,.prf3 a,.prf4 a,.prf5 a,.prf6 a {
  width: 200px;
  color: white;
  text-decoration: none;
  font-size: 27px;
  font-weight: normal;
  background: grey;
  opacity: .9;
  position: relative;
  top: 200px;
}

.detail {
  color: #999999;
  font-size: 25px;
  width: 200px;
  padding-top: 20px;
}

.button {
  font-size: 15px;
  text-decoration: none;
  background: black;
  color: white;
  padding: 6px;
}

footer {
  color: white;
  background: grey;
  box-sizing: border-box;
  margin-top: 30px;
}

footer h4 {
  color: #b4f5f5;
}

footer a {
  text-decoration: none;
  color: white;
}

.text_wrap {
  border: 2px dashed white;
  margin-bottom: 30px;
  padding: 10px;
}
.date {
  text-align: right;
  padding-right: 20px;
}

footer li {
  display: inline;
  list-style: none;
  margin: 0;
  margin-right: 5px;
}

footer li::after{
  content: '|';
  padding-left: 5px;
}
footer li:last-child::after {
  content: ' ';
}

hr {
  height: 2px;
}
.site_map p {
  padding: 0px;
}
