/* =header------------------*/
header {
  margin-top: 20px;
}

header h1 {
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  width: 320px;
  height: 120px;
  float: left;
}
header ul {
  float: right;
}
header li {
  display: inline;
}

/*=site_search*/
.site_search {
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  position: relative;
  float: right;
  top: 40px;
  height: 40px;
}
#search_text {
  height: 30px;
  width: 350px;
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 17px;
  border: 2px solid;
  border-color: #1caab7;
  padding: 2px;
  margin: 1px;
  /*border: 1px solid #ffffff;*/
}
.site_search img {
}

.menu:active {
  color: red;
}

/* =Navigation------------------*/
nav a {
  font-family: Raleway,​sans-serif;
  padding-top: 30px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

/* =misc------------------*/
h1 {
  padding-top: 10px;
  font-size: 39px;
  line-height: 1.1em;
  font-weight: normal;
}

h2 {
  display: flex;
  color: #999999;
}

/* =banners------------------*/
.banner_wrap {
  background: url(../img/banner-two.jpg) no-repeat;
  height: 600px;
}

.banner_text{
  width: 600px;
  height: 180px;
  background: grey;
  opacity: .8;
  padding-left: 20px;
  position: relative;
  top: 50%;
  color: #ffffff;
  text-align: center;
}

.banner_text h1{
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

.banner_text p {
  font-size: 20px;
}

.banner_text a,.button,.heading_block a {
  color: #ffffff;
  text-decoration: none;
  background-color: #1fbfcd;
  border-color: #1caab7;
  padding: 5px;
}

.banner_text a:hover,.button:hover,.heading_block a:hover {
  background: blue;
}

/* =body------------------*/
body {
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 17px;
}


/* =services------------------*/
.service1,.service2,.service3,.prf1,.prf2,.prf3,.prf4,.prf5,.prf6 {
  width: 320px;
  height: 300px;
  margin-left: 0;
  padding-left: 10px;
}

.service1 {
  background: url("../img/img1.jpg") no-repeat;
}
.service2 {
  background: url("../img/img2.jpg") no-repeat;
}
.service3 {
  background: url("../img/img3.jpg") no-repeat;
}

.service1 a,.service2 a,.service3 a,.prf1 a,.prf2 a,.prf3 a,.prf4 a,.prf5 a,.prf6 a {
  width: 200px;
  color: white;
  text-decoration: none;
  font-size: 27px;
  font-weight: normal;
  background: grey;
  opacity: .9;
  position: relative;
  top: 200px;
}

.service1 a:hover,.service2 a:hover,.service3 a:hover {
  color: orange;
}

.detail p,.heading_block span {
  color: #999999;
  font-size: 20px;
  padding-top: 20px;
  margin-left: 0;
  font: Lato,sans-serif;
}

/* =button------------------*/
.button {
  margin-right: 0px;

}

/*=Image just after the footer tag*/
.image_block {
  background: url("../img/reports_chart.png") no-repeat;
  width: 320;
  height: 400px;
  margin-top: 20px;
  text-indent: -9999px;
}

.heading_block {
  height: 400px;
  margin-left: 10px;
  margin-top: 50px;
}

.line_break {
  position: relative;
  top: 20px;
}

/* =footer------------------*/

footer {
  color: white;
  background: grey;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 0px;
}

footer h4 {
  color: #b4f5f5;
}

footer a {
  text-decoration: none;
  color: white;
}

.text_wrap {
  border: 2px dashed white;
  margin-bottom: 30px;
  padding: 10px;
}
.date {
  text-align: right;
  padding-right: 20px;
}

footer li {
  display: inline;
  list-style: none;
  margin: 0;
  margin-right: 5px;
}

footer li::after{
  content: '|';
  padding-left: 5px;
}
footer li:last-child::after {
  content: ' ';
}
.social img {
  width: 30px;
  height: 30px;
  padding: 1px;
}

hr {
  height: 2px;
}
.site_map p {
  padding: 0px;
}
